/* MaterializeCSS footer to stick to the bottom */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Roboto Condensed', sans-serif;
}
main {
	flex: 1 0 auto;
}

/**/

p, li, span, label, input, textarea, a{
	font-family: 'Roboto Mono', monospace;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; /* no need for !important :) */
}

ul.dropdown-content li a {
	color: #3949ab;
}

/* NAVBAR */

.brand-logo h5{
	color: white;
	height: : 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

.brand-logo h5 span{
	font-weight: 800;
}

/*footer*/

.footer-copyright .container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

/*home*/
.title{
	height: 200px;
	margin-top: -50px;
	margin-bottom: 50px;
}

.title h1{
	color: white;
	padding-top: 50px;
}

.home-chart{
	width: 70%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.first-load, .featured-web{
	display: flex;
	flex-flow: row wrap;
}

#second-wrapper{
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

#home_graph_title{
	display: grid;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#home_graph_title h1{
	color: white;
}

/*history*/
.web-history{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.full-width{
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

/*speedtest*/

#speedresult{
	padding-top: 200px;
	padding-bottom: 50px;
}

#speedtest{
	font-family: 'Roboto Mono', monospace;
}

#speedtest-content {
	margin-top: 100px;
}

.card-panel h5, .card-panel p, .card-panel span{
	color: white;
}

/*history speedtest*/

.history-box{
	margin: 10px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}