<footer class="page-footer indigo darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" style="font-family:Bebas neue;font-size:28px">Projek PKL
          <i class="material-icons left" >label</i>
        </h5>
        <p class="grey-text text-lighten-4" style="font-family:Abel;font-size:14px">Website untuk menghitung waktu load website dan speedtest</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text" style="font-family:Bebas neue;font-size:28px">Links
          <i class="material-icons left" >web</i>
        </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" style="font-family:Abel;font-size:14px" href="https://github.com/corlys/pkltelkom" target="_blank">Github</a></li>
          <li><a class="grey-text text-lighten-3" style="font-family:Abel;font-size:14px" href="https://telkom.co.id/" target="_blank">PT.Telekomunikasi Indonesia</a></li>
          <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p style="font-family:Bebas neue;font-size:14px">© Copyright 2020 PKL TELKOM</p>
      <a class="grey-text text-lighten-4 right"  href="https://filkom.ub.ac.id/" target="_blank" style="font-family:Bebas neue;font-size:14px">Fakultas Ilmu Komputer Brawijaya</a>
    </div>
  </div>
</footer>