
<header>
	<nav class="teal lighten-2">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo">Logo</a>
			<a href="#" class="sidenav-trigger" data-target="mobile-links">
				<i class="material-icons">menu</i>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Web Timer</a></li>

				<li><a href="#">Speed Test</a></li>

				<li><a href="#">Login</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-links">
		<li><a href="#">Web Timer</a></li>
		<li><a href="#">Speed Test</a></li>
		<li><a href="#">Login</a></li>
	</ul>	
</header>



