{% extends 'base.html' %}

{% block content %}
<div class="title indigo darken-1">
	<h1 class="center-align" style="font-family:Bebas neue;font-size:60px">History</h1>
</div>	
<div class="container">
	<div class="row">
		<div class="web-history">
			<div class="col s12">
				<form action='' method='POST'>
					{% csrf_token %}
					<div class="input-field col s10">
						<input type="text" class="datepicker" name="tanggal">
					</div>
					<div class="col s2">
						<button id="historyfilter" class="btn-large waves-effect waves-light indigo" type="submit" name="action" style="font-family:Bebas Neue;font-size:30px">Cari
							<i class="material-icons right" >send</i>
						</button>
					</div>
				</form>
			</div>
			{% for item in serv %}
			<div class="col s12">
				<div class="indigo lighten-3">
					<div class="history-box">
						<div class="speed-hist-title">
							<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">{{item.name}}</label>
						</div>
						<div class="col s12 m6">
							<div class="card hoverable">
								<div class="card-content">
									<div class="card-header center-align">
										<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">Download and Upload</label>
									</div>
									<div class="divider"></div>
									<canvas id="{{item.name}}-DU"></canvas>
								</div>
							</div>
						</div>

						<div class="col s12 m6">
							<div class="card hoverable">
								<div class="card-content">
									<div class="card-header center-align">
										<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">PING</label>
									</div>
									<div class="divider"></div>
									<canvas id="{{item.name}}-PING"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col s12 m6">
				<div class="card hoverable">
					<div class="card-content">
						<div class="card-header center-align">
							<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">{{item.title}}</label>
						</div>
						<div class="divider"></div>
						<canvas id="{{item.title}}Chart"></canvas>
					</div>
				</div>
			</div> -->
			{% endfor %}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		const Calender = document.querySelector(".datepicker");
		M.Datepicker.init(Calender,{
			format:'dd mmmm yyyy'
		})
		{% for item in serv %}
		var randomR = Math.floor((Math.random() * 130) + 100);
		var randomG = Math.floor((Math.random() * 130) + 100);
		var randomB = Math.floor((Math.random() * 130) + 100);

		var randomRR = Math.floor((Math.random() * 130) + 100);
		var randomGG = Math.floor((Math.random() * 130) + 100);
		var randomBB = Math.floor((Math.random() * 130) + 100);

		var ctx = document.getElementById('{{item.name}}-DU').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.captured_date|date:"H:i"}}',{% endif %}{% endfor %}],
				datasets: [{
					label: '# Download',
					data: [{% for obj in hist %}{% if item.title == obj.webtimer.title %}'{{obj.download}}',{% endif %}{% endfor %}],
					backgroundColor:"rgb(" 
					+ (randomR - 80) + ", " 
					+ (randomG - 80) + ", " 
					+ (randomB - 80) + ", 0.4)",
				},
				{
					label: '# Upload',
					data: [{% for obj in hist %}{% if item.title == obj.webtimer.title %}'{{obj.upload}}',{% endif %}{% endfor %}],
					backgroundColor:"rgb(" 
					+ (randomRR - 80) + ", " 
					+ (randomGG - 80) + ", " 
					+ (randomBB - 80) + ", 0.4)",
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});

		var cxx = document.getElementById('{{item.name}}-PING').getContext('2d');
		var myChart = new Chart(cxx, {
			type: 'line',
			data: {
				labels: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.captured_date|date:"H:i"}}',{% endif %}{% endfor %}],
				datasets: [{
					label: '# Download',
					data: [{% for obj in hist %}{% if item.title == obj.webtimer.title %}'{{obj.ping}}',{% endif %}{% endfor %}],
					backgroundColor:"rgb(" 
					+ (randomR - 80) + ", " 
					+ (randomG - 80) + ", " 
					+ (randomB - 80) + ", 0.4)",
				},]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
		{% endfor %}
	});
</script>

{% endblock %}