{% extends 'base.html' %}

{% block content %}
<div class="title indigo darken-1">
	<h1 class="center-align" style="font-family:Bebas neue;font-size:60px">History</h1>
</div>	
<div class="container">
	<div class="row">
		<div class="web-history">
			<div class="col s12">
				<form action='' method='POST'>
					{% csrf_token %}
					<div class="input-field col s9 m10">
						<input type="text" class="datepicker" name="tanggal">
					</div>
					<div class="col s3 m2">
						<button id="historyfilter" class="btn-large waves-effect waves-light indigo" type="submit" name="action" style="font-family:Bebas Neue;font-size:30px">Cari
							<i class="material-icons right" >search</i>
						</button>
					</div>
				</form>
			</div>
			{% for item in serv %}
			{% if item.featured %}
			<div class="col s12">
				<div class="indigo lighten-3">
					<div class="history-box">
						<div class="speed-hist-title">
							<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">{{item.name}}</label>
						</div>
						<div class="col s12 m6">
							<div class="card hoverable">
								<div class="card-content">
									<div class="card-header center-align">
										<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">Download and Upload</label>
									</div>
									<div class="divider"></div>
									<canvas id="{{item.name}}-DU"></canvas>
								</div>
							</div>
						</div>

						<div class="col s12 m6">
							<div class="card hoverable">
								<div class="card-content">
									<div class="card-header center-align">
										<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">PING</label>
									</div>
									<div class="divider"></div>
									<canvas id="{{item.name}}-PING"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col s12 m6">
				<div class="card hoverable">
					<div class="card-content">
						<div class="card-header center-align">
							<label style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">{{item.title}}</label>
						</div>
						<div class="divider"></div>
						<canvas id="{{item.title}}Chart"></canvas>
					</div>
				</div>
			</div> -->
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="modal1" class="modal modal-fixed-footer">
		<form action='' method='POST'>
			{% csrf_token %}
			<div class="modal-content">
				<div class="container modal-checkboxes">
					<h4 class="center-align" style="color:#5c6bc0;font-family:Bebas neue;font-size:28px">Select Website To Display</h4>
					{% for item in serv %}
					<p>
						<label>
							<input type="checkbox" {% if item.featured %} checked="checked" {% endif %} name="filtered-servers[]" value="{{item.name}}">
							<span>{{item.name}}</span>
						</label>
					</p>
					{% endfor %}	
				</div>
			</div>
			<div class="modal-footer">
				<!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
				<button id="websitefilter" class="btn-small waves-effect waves-light indigo" type="submit" name="action" style="font-family:Bebas Neue;font-size:20px">Submit
					<i class="material-icons right" >send</i>
				</button>
			</div>
		</form>
	</div>
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">menu</i>
		</a>
		<ul>
			<li><a class="btn-floating red modal-trigger tooltipped" data-position="left" data-tooltip="Filter Server" href="#modal1"><i class="material-icons">insert_chart</i></a></li>
			<li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Download History Speedtest" href="{% url 'export-speedtest-csv' %}"><i class="material-icons">cloud_download</i></a></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		const Calender = document.querySelector(".datepicker");
		M.Datepicker.init(Calender,{
			format:'dd mmmm yyyy'
		})
		{% for item in serv %}
		var randomR = Math.floor((Math.random() * 130) + 100);
		var randomG = Math.floor((Math.random() * 130) + 100);
		var randomB = Math.floor((Math.random() * 130) + 100);

		var randomRR = Math.floor((Math.random() * 130) + 100);
		var randomGG = Math.floor((Math.random() * 130) + 100);
		var randomBB = Math.floor((Math.random() * 130) + 100);

		var ctx = document.getElementById('{{item.name}}-DU').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.captured_date|date:"H:i"}}',{% endif %}{% endfor %}],
				datasets: [{
					label: '# Download',
					data: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.download}}',{% endif %}{% endfor %}],
					backgroundColor:"rgb(" 
					+ (randomR - 80) + ", " 
					+ (randomG - 80) + ", " 
					+ (randomB - 80) + ", 0.4)",
				},
				{
					label: '# Upload',
					data: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.upload}}',{% endif %}{% endfor %}],
					backgroundColor:"rgb(" 
					+ (randomRR - 80) + ", " 
					+ (randomGG - 80) + ", " 
					+ (randomBB - 80) + ", 0.4)",
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});

		var cxx = document.getElementById('{{item.name}}-PING').getContext('2d');
		var myChart = new Chart(cxx, {
			type: 'line',
			data: {
				labels: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.captured_date|date:"H:i"}}',{% endif %}{% endfor %}],
				datasets: [{
					label: '# PING',
					data: [{% for obj in hist %}{% if item.name == obj.speedtest_server.name %}'{{obj.ping}}',{% endif %}{% endfor %}],
					backgroundColor:"rgb(" 
					+ (randomR - 80) + ", " 
					+ (randomG - 80) + ", " 
					+ (randomB - 80) + ", 0.4)",
				},]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
		{% endfor %}
	});
</script>

{% endblock %}