{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
	<h1 class="center-align">Maintenance</h1>
<!-- 	<ul>
		{% for item in objects %}

		<li>{{item.title}} waktu buka {{item.time}}</li>

		{% endfor %}
	</ul> -->
	<div class="row">
		<div class="featured-web">
			{% for item in objects %}
			<div class="col s12 m4 timeboxes">
				<div class="card horizontal hoverable">
					<div class="card-image">
						<!-- <img class="responsive-img loading" src="{% static '/images/loading.svg' %}"> -->
						<img class="responsive-img" src="{% static '/images/icons/'|add:item.title|add:'.png' %}">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<h5>{{item.time}} Sec</h5>
						</div>
						<div class="card-action">
							<a target="_blank" href="{{item.urls}}">{{item.title}}</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="home-chart">
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [{% for item in objects %}'{{item.title}}',{% endfor %}],
				datasets: [{
					label: '# of Votes',
					data: [{% for item in objects %}'{{item.time}}',{% endfor %}],
					backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
	});




	// $(function(){
	// 	$.ajax({
	// 		url:'/request_home',
	// 		data:{},
	// 		dataType:'json',
	// 		success: function (data){
	// 			var dir = "../../../"
	// 			$('.timeboxes').hide()
	// 			$.each(data, function(i, item){
	// 				console.log(item.fields.title)
	// 			});
	// 			// $('.card-stacked').append("<div class='card-content'><h5>"++"</h5></div>");
	// 			// console.log(data[1].fields.title);
	// 		}
	// 	});
	// });
</script>

{% endblock %}